.Footer-line {
    background: #121212;
    height: 56px;
    margin-top: 96px;
}
.Footer-line>div {
    height: 100%;
}
.Footer-line-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.Footer-line-descr>span {
    font-family: Spartan;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.Footer-line-input {
    background: #FFFFFF;
    opacity: 0.2;
    height: 32px;
    width: 400px;
    font-family: Spartan;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.4;
    margin-right: 12px;
    box-sizing: border-box;
}
.Footer-line-button {
    background: #121212;
    height: 32px;
    width: 108px;
    font-family: Spartan;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.9;
    border: 1px solid #FFFFFF;
}
.Footer-links {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 237px;
    padding-bottom: 40px;
}
.Footer-links-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Footer-links>div {
    align-self: stretch;
}
.Footer-links>div>div {
    align-self: flex-start;
}
.Footer-links-categories>div>a {
    text-decoration: none;
}
.Footer-links>div>div:first-child {
    font-family: Spartan;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
}
.Footer-links>div>div:nth-child(n+2) {
    font-family: Spartan;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 34px;
    color: #121212;
    opacity: 0.8;
}
.Footer-links-categories>div:nth-child(n+2)>a>span {
    font-family: Spartan;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 34px;
    color: #121212;
    opacity: 0.8;
}
.Footer-links-contacts>div:nth-child(n+2)>img {
    margin-right: 10px;
}
.Footer-line-down {
    height: 40px;
    background: #F8F8F8;
}
.Footer-line-down-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.Footer-line-down-content>div:first-child>span {
    font-family: Spartan;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 22px;
    color: #121212;
    opacity: 0.8;
}
.Footer-line-down-content>div:nth-child(2)>img {
    margin-right: 10px;
}
.Footer-line-down-content>div:last-child>span {
    font-family: Spartan;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 22px;
    text-align: right;
    text-decoration-line: underline;
    color: #121212;
    opacity: 0.8;
}
@media screen and (max-width: 720px) {
    .Footer-line-input {
        
        width: auto;
        
    }
}