.Support {
    height: 106px;
}
.Support-Info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
    
}
.Support-Info>div {
    flex-basis: 33%;
}
.Support-Info-Image {
    float: left;
    padding-right: 13px;
}
.Support-Name span {
    font-family: Spartan;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
    float: left;
}
.Support-Descr {
    font-family: Spartan;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    color: #121212;
    opacity: 0.9;
    float: left;
}
@media screen and (max-width: 1220px) {
    .Support-Descr {
        width: 68%;
        text-align: left;
        height: 70px;
    }
}
@media screen and (max-width: 600px) {
    .Support-Name span {
        font-size: 10px;
    }
    .Support-Descr {
        font-size: 10px;
    }
    .Support-Info-Image>img {
        width: 14px;
    }
}
@media screen and (max-width: 470px) {
    .Support-Name span {
        font-size: 8px;
    }
    .Support-Descr {
        font-size: 8px;
    }
    .Support-Info-Image>img {
        width: 12px;
    }
}
@media screen and (max-width: 380px) {
    .Support-Name span {
        font-size: 7px;
    }
    .Support-Descr {
        font-size: 7px;
    }
    .Support-Info-Image>img {
        width: 10px;
    }
}