.Cart-page-body {
    padding-top: 32px;
}
.Cart-page-body-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Cart-Vertical-gallery {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */

}
.Arrows>div {
    position: relative;
    float: left;
}
.Cart-Vertical-gallery>div:nth-child(n+2) {
    height: 114px;
    padding-bottom: 16px;
}
.Cart-main-photo {
    height: 560px;
    flex-basis: 38%;
    position: relative;
}
.Cart-descr {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}
.Cart-color {
    text-align: left;
    padding-bottom: 16px;
}
.Cart-color>span:first-child {
    font-family: Spartan;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
}
.Cart-color>span:last-child {
    font-family: Spartan;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #121212;
}
.Cart-other-colors {
    display: flex;
    flex-direction: row;
}
.Cart-other-colors>img {
    padding-right: 16px;
}
.Cart-size {
    padding-top: 32px;
    text-align: left;
    padding-bottom: 16px;
}
.Cart-size>span:first-child {
    font-family: Spartan;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
}
.Cart-size>span:last-child {
    font-family: Spartan;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #121212;
}
.Cart-allsizes {
    display: flex;
    flex-direction: row;
}
.Cart-allsizes>div {
    height: 40px;
    width: 40px;
    background: #F8F8F8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
}
.Cart-allsizes>div>span {
    font-family: Spartan;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 13px;
    text-align: center;
    color: #121212;
    opacity: 0.7;
}
.Cart-sizeguide {
    padding-top: 15px;
    text-align: left;
}
.Cart-sizeguide>span {
    font-family: Spartan;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #121212;
    opacity: 0.6;
    padding-left: 8px;
}
.Bottom-bord {
    height: 35px;
    background: #FFFFFF;
    border-bottom: 2px solid #E6E6E6;
    box-sizing: border-box;
    margin-bottom: 16px;
}
.Cart-price-info {
    text-align: left;
}
.Cart-price-info * {
    margin-right: 30px;
}
.Price {
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 36px;
    text-transform: uppercase;
    color: #121212;
}
.Cart-price-info>input {
    width: 156px;
    height: 48px;
    background: #121212;
    border: 2px solid #121212;
    box-sizing: border-box;
    font-family: Spartan;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.9;
}
.Cart-shipping {
    display: flex;
    flex-direction: row;
}
.Cart-shipping>div>span {
    font-family: Spartan;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #121212;
    opacity: 0.6;
    padding-left: 9px;
    padding-right: 28px;
}
.Cart-checkoutline {
    display: flex;
    flex-direction: row;
    padding-top: 32px;
}
.Cart-checkoutline>div:first-child {
    flex-basis: 260px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.Cart-checkoutline>div:first-child>span {
    font-family: Spartan;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 31px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
    padding-right: 24px;
}
.Cart-checkoutline>div:last-child {
    flex-grow: 1;
}
.Cart-credit {
    padding-top: 23px;
}
.Cart-credit>img {
    text-align: left;
    padding-right: 16px;
}
.Cart-description {
    padding-top: 20px;
    text-align: left;
}
.Cart-description>span {
    font-family: Spartan;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
    opacity: 0.6;
}
.Cart-additional {
    text-align: left;
    padding-top: 20px;
}
.Cart-additional>div:first-child {
    font-family: Spartan;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
    padding-bottom: 32px;
}
.Cart-additional-content>div>span:first-child{
    font-family: Spartan;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #121212;
}
.Cart-additional-content>div>span:last-child{
    font-family: Spartan;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #121212;
    opacity: 0.6;
}
.Cart-reviews {
    display: flex;
    flex-direction: column;
}
.Cart-reviews-name {
    text-align: left;
    padding-top: 20px;
    padding-bottom: 34px;
}
.Cart-reviews-name>span {
    font-family: Spartan;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
}
.Cart-reviews-stars {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Cart-reviews-stars>div:last-child>span {
    font-family: Spartan;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #121212;
    opacity: 0.6;
    padding-left: 6px;
}
.Cart-reviews-content-author {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 27px;
}
.Cart-reviews-content-author>div {
    text-align: left;
}
.Cart-reviews-content-author>div:first-child>span {
    font-family: Spartan;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #121212;
}
.Cart-reviews-content-text {
    text-align: left;
    padding-top: 12px;
}
.Cart-reviews-content-text>span {
    font-family: Spartan;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #121212;
    opacity: 0.8;
}
.Cart-page-body-footer {
    display: flex;
    flex-direction: column;
}
.Cart-page-body-footer-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 48px;
}
.Cart-page-body-footer-name>div:first-child>span{
    font-family: Spartan;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
}
.Cart-page-body-footer-arrows>div {
    position: relative;
    float: left;
}
.Cart-page-body-footer-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media screen and (max-width: 1280px) {
    .Cart-credit>img {
        padding-right: 11px;
        width: 11%;
    }
}
@media screen and (max-width: 1230px) {
    .Cart-shipping>div>span {
        padding-left: 4px;
        padding-right: 7px;
    }
    .Cart-page-body-footer-cards>a {
        padding-bottom: 2%;
    }
}
@media screen and (max-width: 1050px) {
    .Cart-price-info * {
        margin-right: 20px;
    }
    .Cart-shipping>div>span {
        font-size: 10px;
    }
    .Cart-price-info>input {
        width: 130px;
    }
    .Price {
        font-size: 19px;
    }
}
@media screen and (max-width: 910px) {
    .Cart-shipping>div>img {
        width: 10%;
    }
    .Cart-descr {
        flex-basis: 49%;
    }
    .Cart-checkoutline {
        padding-top: 20px;
    }
    .Cart-shipping>div>span {
        padding-left: 2px;
        padding-right: 0;
    }
}
@media screen and (max-width: 900px) {
    .Cart-page-body-footer-cards {
        justify-content: space-evenly;
    }
}
@media screen and (max-width: 830px) {
    .Cart-price-info * {
        margin-right: 12px;
    }
    .Cart-shipping {
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        padding-left: 2%;
    }
    .Cart-checkoutline {
        padding-top: 0;
    }
    .Cart-credit>img {
        padding-right: 5px;
    }
    .Cart-main-photo {
        flex-basis: 37%;
    }
}
@media screen and (max-width: 760px) {
    .Cart-main-photo {
        flex-basis: 36%;
        padding-bottom: 4%;
    }
    .Cart-page-body-content {
        flex-direction: column;
    }
    .Cart-Vertical-gallery {
        flex-basis: auto;
        flex-direction: row;
    }
    .Cart-Vertical-gallery>div:nth-child(n+2) {
        width: 22%;
    }
    .Arrow-gal-right {
        transform: rotate(-90deg);
    }
    .Arrow-gal-left {
        transform: rotate(-90deg);
    }
    .Cart-main-photo {
        flex-basis: auto;
        order: -1;
    }
    .Cart-descr {
        flex-basis: auto;
    }
    .Cart-shipping {
        flex-direction: row;
    }
    .Cart-shipping>div>img {
        width: 13%;
    }
    .Cart-credit>img {
        padding-right: 9px;
    }
}
@media screen and (max-width: 450px) {
    .Cart-shipping {
        flex-direction: column;
        align-items: center;
        height: 90px;
    }
    .Arrows {
        width: 13%;
    }
    .Cart-price-info * {
        margin-right: 9px;
    }
    .Price {
        font-size: 17px;
    }
    .Cart-page-body-footer-name>div:first-child>span {
        font-size: 16px;
        padding-bottom: 25px;
    }
}