.Small-Banner {
    padding-top: 96px;
}
.Small_Banner-disp {
    display: flex;
    justify-content: space-between;
}
.Small_Banner-disp>div {
    flex-basis: 48%;
    height: 260px;
}
.Small_Banner-Image {
    position: relative;
}
.Small_Banner-size {
    width: 66%;
    height: 30%;
    background: #FFFFFF;
    border-radius: 4px;
}
.Banner-Center {
    position: absolute;
    top: 39%;
    right: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.Small_Banner-size>span:last-child {
    font-family: Spartan;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
}
.Small_Banner-size>span:first-child {
    font-family: Spartan;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
    opacity: 0.6;
}
.Red-Text {
    color: red;
    opacity: 0.6;
}
@media screen and (max-width: 650px) {
    .Small_Banner-disp {
        flex-direction: column;
    }
    .Small_Banner-disp>div {
        flex-basis: auto;
        padding-bottom: 10px;
    }
    .Small-Banner {
        padding-top: 40px;
    }
    .Banner-Center {
        right: 18%;
    }
}