.Cart-Page-Banner-bord {
    height: 32px;
    background: #F8F8F8;
}
.Cart-Page-Banner-Top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.Cart-Page-Banner-Top>div>span:first-child {
    font-family: Spartan;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    color: #121212;
    opacity: 0.6;
    padding-right: 6px;
}
.Cart-Page-Banner-Top>div>span:nth-child(even) {
    font-family: Spartan;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    color: #121212;
    padding-right: 6px;
}
.Cart-Page-Banner-Top>div>span:nth-child(3) {
    font-family: Spartan;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    color: #121212;
    padding-right: 6px;
    opacity: 0.6;
}
.Cart-Page-Banner-Top>div>span:last-child {
    font-family: Spartan;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    color: #121212;
    padding-right: 6px;
}
.Cart-Page-Banner-Top>div>img {
    padding-top: 8px;
    padding-right: 10px;
}
.Cart-Page-Banner-bord-bottom {
    height: 70px;
    background: #F8F8F8;
}
.Cart-Page-Banner-name>span {
    font-family: Spartan;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
}
.Filter {
    padding-top: 37px;
}
.Filter-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.Filter-content>div:first-child>span {
    font-family: Spartan;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
    opacity: 0.6;
    padding-left: 17px;
}
.Filter-content>div:last-child>img {
    padding-right: 32px;
}

.Cart-Page-Banner-bord-footer {
    
    background: #F8F8F8;
}
.Cart-Page-Banner-bord-footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Cart-Page-Banner-bord-footer-span {
    font-family: Spartan;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 26px;
    color: #121212;
    opacity: 0.6;
    padding-left: 8px;
}
.Cart-Page-Banner-bord-footer-content-bot>span:nth-child(odd) {
    font-family: Spartan;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    color: #121212;
    opacity: 0.6;
}
.Cart-Page-Banner-bord-footer-content-bot>span:nth-child(even) {
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 18px;
    color: #121212;
    padding-right: 24px;
}
